#logo {
  width: 64px;
  display: inline-block;
  animation-name: App-logo-spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }