header {
    width: 100%;
    /* height: 100px; */
    background: rgb(6, 163, 66);
    border-bottom: 3px solid #000;
}

header ul {
    /* float: right; */
    display: inline-block;
    /* width: inherit; */
}

header ul li {
    display: inline-block;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
    /* text-align: center; */
}

header .contacts {
    font-size: 1.2em;
    float: right;
}

header ul li:hover {
    background: rgb(24, 236, 105);
}
