
.we {
    font-family: 'Amatic SC', cursive;
    padding: 2em
}
.we h1 {
	text-align:center;
    font-size: 2em;
    /* color: #000;   */
    /* background: #f01; */
}
.we p {
	text-align:center;
	font-size: 1.5vw;  
}

.ha {
    padding: 5em;
}

.ha h2{
	text-align:center;
    font-size: 2em; 
    padding: 1em;
}
.ha p, .ha li{
	font-size: 1.5em; 
    /* margin-left: 50px;  */
    margin: 0em 2.5em;
	text-align: left;
}