.accessories-item {
    
    background: #eee;

}

.accessories-item div {
    display: inline-block;
    background: #fee;
    width: 300px;
    padding: 1em;
    margin: 1em 1em;
    text-align: center;
    border: 2px solid #000;
    box-shadow: 0px 0px 3px #000
}


.accessories-item div span {
    font-size: 1.5em;
}

