.flowers {
    width: 100%;
    background: rgb(215, 236, 205)
}

.flowerItem, .flowerItem img {
    width: 200px;
}

.flowerItem {
    box-shadow: 0 0 10px #000;
    background: #eee;
    display: inline-block;
    margin: 1em 3.5em;
    outline: 2px solid rgb(134, 228, 155);
}